.breadcrumb
  %a{ :href => "/" }= @site_title
  &gt;
  - if @article.parent
    %a{ :href => category_path(@article.parent) }= @article.parent.heading
    &gt;
  = @article.heading

%div#heading
  %h1= @article.heading
  %p
    - if @article.date
      = format_date(@article.date)
    by 
    = Nesta::Configuration.author['name']

#content
  ~ @article.body

  %div#ads
    %script{:type => "text/javascript"}
      google_ad_client = "pub-2677099488638518";
      google_ad_slot = "5442084150";
      google_ad_width = 468;
      google_ad_height = 60;
    %script{:type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}

  %div#meta
    - unless @article.categories.empty?
      %p
        Filed under
        - @article.categories.each do |category|
          %a{ :href => category_path(category) }= category.heading

    = haml :social, :layout => false
    = haml :feed, :locals => { :title => @site_title }, :layout => false

  - unless @comments.empty?
    .old-comments
      %h2 Comments
      %ol.comments
        - @comments.each do |comment|
          %li
            %p.meta
              %span
                - if comment.author_url.empty?
                  = comment.author
                - else
                  %a{ :href => comment.author_url, :rel => "nofollow" }= comment.author
              = "(#{comment.date.strftime('%d %B %Y, %H:%M')})"
            :markdown
              #{comment.body}
      %p
        Comments are no longer allowed on articles.
#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

