.breadcrumb
  %a{ :href => "/" }= @site_title

%div#heading
  %h1 Sorry, something went wrong
  %p Bang, crash, wallop.

#content
  %p
    An error occurred whilst trying to serve your page. Please bear
    with me. In the mean time, how about trying another page?
  %p
    If you're desperate, you can always email me:
    = succeed "." do
      %strong= obfuscate Nesta::Configuration.author['email']
  
#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
