!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
      
    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}/
    %link{:rel => "openid.delegate", :href => "http://mikesten.myopenid.com/"}/
    
    %title= @title
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => feed_url, :rel => "alternate", :type => "application/atom+xml" }
    %link{ :href => url_for("favicon.ico"), :rel => "shortcut icon", :type => "image/x-icon" }/
    %link{ :href => url_for("favicon.ico"), :rel => "icon", :type => "image/x-icon" }/
    
    /%script{:src => "/syncotype.js", :type => "text/javascript"}
    
  %body{ :class => "#{@body_class} #{internet_explorer_class}" }
    #container
      #wrapper
        #header
          %ul.c
            %li.home
              %a{:href => "/"}
                %img{:src => "/attachments/donotremove-2.gif", :alt => "Home"}/
            %li
              - if @nav && @nav == :weblog
                %strong
                  %a{:href => "/weblog"} Weblog
              - else
                %a{:href => "/weblog"} Weblog
            %li
              - if @nav && @nav == :portfolio
                %strong
                  %a{:href => "/portfolio"} Portfolio
              - else
                %a{:href => "/portfolio"} Portfolio
            %li
              - if @nav && @nav == :projects
                %strong
                  %a{:href => "/projects"} Projects
              - else
                %a{:href => "/projects"} Projects
            %li.contact
              - if @nav && @nav == :contact
                %strong
                  %a{:href => "/contact"} Contact
              - else
                %a{:href => "/contact"} Contact
            
        = yield
        %div.clear
        #footer
          %p
            Powered by
            %a{ :href => "http://effectif.com/nesta" } nesta
            and built by
            = succeed "." do
              %a{ :href => "/me", :rel => "me" } Mike Stenhouse

    = haml :analytics, :layout => false
    %script{:type => "text/javascript", :src => "http://donotremovecouk.skimlinks.com/api/skimlinks.js"}
    %script{:type => "text/javascript"}
      var skimlinks_pub_id = '388X620';
      skimlinks();
    
