.breadcrumb
  %a{ :href => "/" }= @site_title

%div#heading
  %h1 Page not found
  %p 404, Awol, Gone.

#content
  %p
    Please try another page or, if you think something is wrong with the site,
    do get in touch and let me know:
    = succeed "." do
      %strong= obfuscate Nesta::Configuration.author['email']

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

